<section class="wrapper" id="about">
	<div class="row center">
		<div class="col-l-2"></div>
		<div class="col-12 col-l-8">
			<h2>What is HackDelft?</h2>
			<p>HackDelft is the first hackathon organized by TU Delft’s W.I.S.V &lsquo;Christiaan Huygens&rsquo;. On May 13th and 14th, join 100 other students interested in math, computer science or design for 24 hours of learning, building, and having fun. This year’s theme is #trendhacking, and we’re excited to work with our four premium partners to provide HackDelft-exclusive tools and data for you to hack with this year!</p>
		</div>
		<div class="col-l-2"></div>
	</div>
</section>