<section class="wrapper" id="cases">
	<div class="row">
		<h2 class="col-12">The cases</h2>
	</div>
	<div class="row case">
		<img class="col-4 alignright" src="/images/sponsors/kpmg.png">
		<div class="col-8 col-s-12">
			<h3>Internet of things</h3>
			<p>To be announced...</p>
		</div>
	</div>
	<div class="row case">
		<img class="col-4 alignright" src="/images/sponsors/optiver.png">
		<div class="col-8 col-s-12">
			<h3>Optiver</h3>
			<p>To be announced...</p>
		</div>
	</div>
	<div class="row case">
		<img class="col-4 alignright" src="/images/sponsors/aegon.png">
		<div class="col-8 col-s-12">
			<h3>AEGON</h3>
			<p>To be announced...</p>
		</div>
	</div>
	<div class="row case">
		<img class="col-4 alignright" src="/images/sponsors/sns.png">
		<div class="col-8 col-s-12">
			<h3>SNS Bank</h3>
			<p>To be announced...</p>
		</div>
	</div>
</section>