<section class="wrapper" id="crew">
	<div class="row">
		<h2 class="col-12">The crew</h2>
	</div>
	<div class="row" id="crewContainer">
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Wouter.jpg">
			<h3>Wouter Raateland</h3>
			<p>Chairman</p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="http://placekitten.com/226/339">
			<h3>Daan Schipper</h3>
			<p>Secretary</p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="http://placebacon.net/226/339">
			<h3>Felix van Doorn</h3>
			<p>Treasurer</p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="https://placebear.com/226/339">
			<h3>Dani&euml;l Vos</h3>
			<p>Promotional Affairs</p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Leon.jpg">
			<h3>Leon Overweel</h3>
			<p>Chief hacker experience</p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="https://unsplash.it/226/339">
			<h3>Erik Wesselius</h3>
			<p>Head of Logistics</p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="http://lorempizza.com/226/339">
			<h3>Marjolein Bouwmeester</h3>
			<p>Qualitate Qua</p>
		</div>
	</div>
</section>
