<section class="wrapper" id="crew">
	<div class="row">
		<h2 class="col-12">Crew</h2>
	</div>
	<div class="row" id="crewContainer">
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Wouter.jpg">
			<h3>Wouter Raateland</h3>
			<p>Chairman<br /><a href="slack://user?team=hackdelft&id=wouter">@wouter</a></p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Daan.jpg">
			<h3>Daan Schipper</h3>
			<p>Secretary<br /><a href="slack://user?team=hackdelft&id=daanshipper">@daanschipper</a></p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Felix.jpg">
			<h3>Felix van Doorn</h3>
			<p>Treasurer<br /><a href="slack://user?team=hackdelft&id=felixvandoorn">@felixvandoorn</a></p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Daniel.jpg">
			<h3>Dani&euml;l Vos</h3>
			<p>Promotional Affairs<br /><a href="slack://user?team=hackdelft&id=daniel">@daniel</a></p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Leon.jpg">
			<h3>Leon Overweel</h3>
			<p>Chief hacker experience<br /><a href="slack://user?team=hackdelft&id=leon">@leon</a></p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Erik.jpg">
			<h3>Erik Wesselius</h3>
			<p>Head of Logistics<br /><a href="slack://user?team=hackdelft&id=erikw">@erikw</a></p>
		</div>
		<div class="col-l-3 col-m-4 col-s-6 center member">
			<img src="/images/crew/Marjolein.jpg">
			<h3>Marjolein Bouwmeester</h3>
			<p>Qualitate Qua<br /><a href="slack://user?team=hackdelft&id=marjolein">@marjolein</a></p>
		</div>
	</div>
</section>
