<section class="wrapper" id="faq">
	<div class="row">
		<h2 class="col-12">FAQ</h2>
	</div>

	<div class="row">
		<div class="question col-6 col-s-12">
			<h3>Who can attend?</h3>
			<p>Any current university student ― undergraduate (BSc) or graduate (MSc) ― can apply to attend HackDelft.</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>How do applications work?</h3>
			<p>You can register by clicking the link at the top of this page; the deadline for applying is <b>April 21st</b>. Once all applications are in, we apply the following process to select candidates: the first 50 applicants who are members of the study association W.I.S.V. 'Christiaan Huygens' are accepted automatically; we'll select the other 50 hackers based on skills and experience. We’ll then get in touch to let you know whether you’ve been invited to attend.</p>
		</div>
	</div>
	<div class="row">
		<div class="question col-6 col-s-12">
			<h3>What if I've never been to a hackathon before?</h3>
			<p>That’s fine! In the first few hours of HackDelft, we’ll explain exactly how everything works, and you’ll be hacking away with the rest of the participants in no time.</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>How much does it cost to attend HackDelft?</h3>
			<p>Nothing! HackDelft is completely free, thanks to our amazing sponsors.</p>
		</div>
	</div>
	<div class="row">
		<div class="question col-6 col-s-12">
			<h3>What should I bring to HackDelft?</h3>
			<p>Bring your laptop, all the chargers you need (!), and some personal hygiene items to stay fresh for 24 hours (toothbrush, toothpaste, and deodorant).</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>Are you going to feed me?</h3>
			<p>Yes. We’ll provide a dinner on Saturday (May 13), as well as breakfast and lunch on Sunday (May 14). There’ll also be plenty of snacks and drinks, of course!</p>
		</div>
	</div>
	<div class="row">
		<div class="question col-6 col-s-12">
			<h3>Can I sleep?</h3>
			<p>Of course! Although many people will keep hacking through the night, we’re setting up a room to power nap in for a couple of hours.</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>Can I start working before the event?</h3>
			<p>No. You may not start work on any code or models you end up submitting to HackDelft before the official hacking kickoff.</p>
		</div>
	</div>
	<div class="row">
		<div class="question col-6 col-s-12">
			<h3>How does judging work?</h3>
			<p>Once you’ve finished your project, there’ll be an expo. The judges will walk around, and you’ll have a short (think two-three minute) window to pitch to them. Based on these pitches, the judges will pick a few teams to pitch on the finalists stage. There, you’ll again give a short pitch and answer some questions. Finally the judges will retire and announce the case-specific winners and grand prize winner.</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>What if I have more questions?</h3>
			<p>Send us a message at the facebook or email us at <a href="mailto:hackathoncrew@ch.tudelft.nl">hackathoncrew@ch.tudelft.nl</a></p>
		</div>
	</div>
	<div class="row">
		<div class="question col-6 col-s-12">
			<h3>Do you have a code of conduct?</h3>
			<p>Just be nice to each other! If you want to read the boring stuff: <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH code of conduct</a></p>
		</div>
	</div>
</section>