<section class="wrapper" id="jury">
	<div class="row center">
		<h2 class="col-12">Jury</h2>
		<p>The jury will be announced soon. Stay tuned to the site, our <a href="http://twitter.com/hackdelft">Twitter</a>, and our <a href="https://facebook.com/hackdelft">Facebook page</a> for updates!</p>
	</div>
</section>