<section class="wrapper" id="jury">
	<div class="row center">
		<h2 class="col-12">Jury</h2>
	</div>
	<div class="row center" id="juryContainer">
		<div class="col-6 col-l-4 jury">
			<div class="avatar-container">
				<img src="/images/jury/cynthia.jpg" class="avatar">
				<div class="company">
					<img src="/images/partners/tudelft.png">
				</div>
			</div>
			<h3>Cynthia Liem</h3>
			<p>Pianist and Assistant Professor</p>
		</div>
		<div class="col-6 col-l-4 jury">
			<div class="avatar-container">
				<img src="/images/jury/alexandru.jpg" class="avatar">
				<div class="company">
					<img src="/images/partners/vu.png">
				</div>
			</div>
			<h3>Alexandru Iosup</h3>
			<p>Game Creator and<br />Professor of Computer Science</p>
		</div>
		<div class="col-6 col-l-4 jury">
			<div class="avatar-container">
				<img src="/images/jury/kpmg.jpg" class="avatar">
				<div class="company">
					<img src="/images/partners/kpmg.png">
				</div>
			</div>
			<h3>Dennis van Ham</h3>
			<p>Director Cyber</p>
		</div>
		<div class="col-6 col-l-4 jury">
			<div class="avatar-container">
				<img src="/images/jury/optiver.jpg" class="avatar">
				<div class="company">
					<img src="/images/partners/optiver.png">
				</div>
			</div>
			<h3>David S. Martens</h3>
			<p>Technology lead</p>
		</div>
		<div class="col-6 col-l-4 jury">
			<div class="avatar-container">
				<img src="/images/jury/aegon.jpg" class="avatar">
				<div class="company">
					<img src="/images/partners/aegon.png">
				</div>
			</div>
			<h3>Wouter van der Harg</h3>
			<p>Business Information Manager</p>
		</div>
		<div class="col-6 col-l-4 jury">
			<div class="avatar-container">
				<img src="/images/jury/volksbank.jpg" class="avatar">
				<div class="company">
					<img src="/images/partners/volksbank.png">
				</div>
			</div>
			<h3>Wouter Poncin</h3>
			<p>System Specialist</p>
		</div>
	</div>
</section>