<section class="wrapper" id="partners">
	<div class="row">
		<h2 class="col-12">Premium Partners</h2>
	</div>
	<div class="row">
		<div class="col-3 col-m-6 col-s-6 partner">
			<img class="partner-img" src="/images/partners/kpmg.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 partner">
			<img class="partner-img" src="/images/partners/optiver.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 partner">
			<img class="partner-img" src="/images/partners/aegon.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 partner">
			<img class="partner-img" src="/images/partners/volksbank.png">
		</div>
	</div>
	<div class="row">
		<h2 class="col-12">Supporting partners</h2>
	</div>
	<div class="row">
		<div class="col-l-3"></div>
		<div class="col-2 col-m-4 col-s-4 partner">
			<img class="partner-img" src="/images/partners/sc.png">
		</div>
		<div class="col-2 col-m-4 col-s-4 partner">
			<img class="partner-img" src="/images/partners/tudelft.png">
		</div>
		<div class="col-2 col-m-4 col-s-4 partner">
			<img class="partner-img" src="/images/partners/redbull.png">
		</div>
	</div>
</section>