<section class="wrapper" id="schedule">
	<div class="row">
		<h2 class="col-12">The schedule</h2>
	</div>
	<div class="row" id="scheduleContainer">
		<div class="col-6 col-m-12 col-s-12">
			<h3>Saturday 13 May</h3>
			<div class="day"></div>
		</div>
		<div class="col-6 col-m-12 col-s-12">
			<h3>Sunday 14 May</h3>
			<div class="day"></div>
		</div>
	</div>
</section>