<section class="wrapper" id="sponsors">
	<div class="row">
		<h2 class="col-12">Premium Partners</h2>
	</div>
	<div class="row">
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img class="sponsor-img" src="/images/sponsors/kpmg.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img class="sponsor-img" src="/images/sponsors/optiver.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img class="sponsor-img" src="/images/sponsors/aegon.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img class="sponsor-img" src="/images/sponsors/volksbank.png">
		</div>
	</div>
	<div class="row">
		<h2 class="col-12">Supporting partners</h2>
	</div>
	<div class="row">
		<div class="col-l-3"></div>
		<div class="col-2 col-m-4 col-s-4 sponsor">
			<img class="sponsor-img" src="/images/sponsors/sc.png">
		</div>
		<div class="col-2 col-m-4 col-s-4 sponsor">
			<img class="sponsor-img" src="/images/sponsors/tudelft.png">
		</div>
		<div class="col-2 col-m-4 col-s-4 sponsor">
			<img class="sponsor-img" src="/images/sponsors/redbull.png">
		</div>
	</div>
</section>