<section class="wrapper" id="sponsors">
	<div class="row">
		<h2 class="col-12">Premium partners</h2>
	</div>
	<div class="row">
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img src="/images/sponsors/kpmg.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img src="/images/sponsors/optiver.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img src="/images/sponsors/aegon.png">
		</div>
		<div class="col-3 col-m-6 col-s-6 sponsor">
			<img src="/images/sponsors/sns.png">
		</div>
	</div>
</section>