<section class="wrapper" id="keynote">
	<div class="row center">
		<div class="col-l-2"></div>
		<div class="col-12 col-l-8">
			<h2>Keynote Speaker and Jury</h2>
			<p>The workshops, keynote speaker and jury will be announced soon. Stay tuned to the site, our <a href="http://twitter.com/hackdelft">Twitter</a>, and our <a href="https://facebook.com/hackdelft">Facebook page</a> for updates!</p>
		</div>
	</div>
</section>