<section class="wrapper" id="winners">
	<div class="row center">
		<div class="col-l-2"></div>
		<div class="col-12 col-l-8">
			<h2>HackDelft has finished!</h2>
			<p>The first edition of HackDelft, HackDelft #TrendHacking has finished. It was a great event, thanks to everyone! We are proud to announce the winners:</p>
		</div>
		<div class="col-l-2"></div>
	</div>
	<div class="row">
		<div class="col-8 col-s-12">
			<h3>#1. ThetaGo</h3>
		</div>
		<div class="col-4 col-s-12">
			<div class="col-12 col-s-6 nopadding">
				<h3>#2. Can I spend it</h3>
			</div>
			<div class="col-12 col-s-6 nopadding">
				<h3>#3. Kwindo</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3 col-s-6">
			<h3>KPMG - CyberDave</h3>
		</div>
		<div class="col-3 col-s-6">
			<h3>Optiver - Kwindo</h3>
		</div>
		<div class="col-3 col-s-6">
			<h3>Aegon - Protect your Selfie</h3>
		</div>
		<div class="col-3 col-s-6">
			<h3>Volksbank - ThetaGo</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<h3>#HackHarrasment</h3>
		</div>
		<div class="col-4">
			<h3>Best use of AWS</h3>
		</div>
		<div class="col-4">
			<h3>Best domain.com domain name</h3>
		</div>
	</div>
</section>