<section class="wrapper" id="winners">
	<div class="row center">
		<div class="col-l-2"></div>
		<div class="col-12 col-l-8">
			<h2>HackDelft has finished!</h2>
			<p>The first edition of HackDelft, HackDelft #TrendHacking has finished. It was a great event, thanks to everyone! We are proud to announce the winners:</p>
		</div>
		<div class="col-l-2"></div>
	</div>
	<div class="row">
		<div class="col-8 col-s-12">
			<div class="winner">
				<img src="/images/winners/theta_go.jpg">
				<div class="prize">#1</div>
				<h3>ThetaGo</h3>
			</div>
		</div>
		<div class="col-4 col-s-12 nopadding">
			<div class="col-12 col-s-6">
				<div class="winner">
					<img src="/images/winners/can_i_spend_it.jpg">
					<div class="prize">#2</div>
					<h3>Can I spend it</h3>
				</div>
			</div>
			<div class="col-12 col-s-6">
				<div class="winner">
					<img src="/images/winners/kwindo.jpg">
					<div class="prize">#3</div>
					<h3>Kwindo</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="winner">
				<img src="/images/winners/cyber_dave.jpg">
				<div class="prize company">KPMG</div>
				<h3>CyberDave</h3>
			</div>
		</div>
		<div class="col-6">
			<div class="winner">
				<img src="/images/winners/kwindo.jpg">
				<div class="prize company">Optiver</div>
				<h3>Kwindo</h3>
			</div>
		</div>
		<div class="col-6">
			<div class="winner">
				<img src="/images/winners/protect_your_selfie.jpg">
				<div class="prize company">Aegon</div>
				<h3>Protect your Selfie</h3>
			</div>
		</div>
		<div class="col-6">
			<div class="winner">
				<img src="/images/winners/theta_go.jpg">
				<div class="prize company">Volksbank</div>
				<h3>ThetaGo</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<div class="prize mlh">#HackHarrasment</div>
			<div class="winner">
				<img src="/images/winners/protect_your_selfie.jpg">
				<h3>Protect your Selfie</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="prize mlh">Best use of AWS</div>
			<div class="winner">
				<img src="/images/winners/gaan_met_die_banaan.jpg">
				<h3>Gaan met die Banaan</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="prize mlh">Best domain.com domain name</div>
			<div class="winner">
				<img src="/images/winners/can_i_spend_it.jpg">
				<h3>Can I spend it</h3>
			</div>
		</div>
	</div>
</section>