<section class="wrapper" id="workshops">
	<div class="row center">
		<h2 class="col-12">Workshops</h2>
		<p>To be announced</p>
		<!-- <div class="col-6 workshop">
			<h3>KPMG</h3>
			<p>To be announced...</p>
		</div>
		<div class="col-6 workshop">
			<h3>Optiver</h3>
			<p>To be announced...</p>
		</div>
		<div class="col-6 workshop">
			<h3>AEGON</h3>
			<p>To be announced...</p>
		</div>
		<div class="col-6 workshop">
			<h3>SNS</h3>
			<p>To be announced...</p>
		</div> -->
	</div>
</section>