.header-wrapper {
	@media screen and (orientation: landscape) {
		height: 50vw;
	}

	@media screen and (orientation: portrait) {
		height: 160vw;
	}
}

header {
	position: relative;
	z-index: 1;
	
	padding: 4em;

	.figure {
		margin-top: 1em;
		height: 10em;
	}
}