#juryContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.jury {
		position: relative;
		flex-shrink: 0;
		
		.avatar,
		.company {
			border: 2px solid $accent_color;
			border-radius: 100%;
		}

		.avatar {
			display: block;
			width: 100%;
		}

		.company {
			position: absolute;
			right: 1em; bottom: 5em;

			width: 6em;
			height: 6em;

			background-color: $primary_color;

			img {
				position: absolute;
				left: 0; top: 0; right: 0; bottom: 0;

				padding: 15%;
				margin: auto;
			}
		}

		h3 {
			margin-bottom: 0;
			font-size: 1.5em;
		}

		p {
			margin-top: 0;
		}
	}
}