<% include ../partials/head %>

<main>
	<p>This year, the Study Association 'Christiaan Huygens' is organizing its first hackathon: HackDelft - a 24-hour, 100-student innovation marathon.</p>
</main>

<% include ../partials/foot %>