<% include ../partials/head %>

<div class="middle header-wrapper">
	<header class="wrapper">
		<div class="row">
			<div class="col-m-2 col-l-2"></div>
			<p class="col-8 col-s-12">
				<span class="alignleft">May 13 - 14, 2017</span>
				<span class="alignright">@ TU Delft</span>
			</p>
			<div class="col-m-2 col-l-2"></div>
		</div>
		<div class="row center">
			<div class="col-m-2 col-l-2"></div>
			<img class="col-8 col-s-12" src="/images/hackdelft_logo_white.svg">
			<div class="col-m-2 col-l-2"></div>
		</div>

		<div class="spacing"></div>
		<div class="row center">
			<a class="button big">Apply now</a>
		</div>
	</header>
</div>

<main>
	<% include ../partials/sections/about %>
	<% include ../partials/sections/cases %>
	<% include ../partials/sections/speakers %>
	<% include ../partials/sections/schedule %>
	<% include ../partials/sections/faq %>
	<% include ../partials/sections/sponsors %>
	<% include ../partials/sections/crew %>
</main>

<% include ../partials/foot %>