<% include partials/head %>

<img class="ch-logo" src="/images/ch_logo_white.svg">

<header class="wrapper">
	<div class="row center">
		<div class="col-m-2 col-l-2"></div>
		<div class="col-8 col-s-12">
			<p class="row">
				<span class="alignleft">May 13 - 14, 2017</span>
				<span class="alignright">@TU Delft</span>
			</p>
			<img src="/images/hackdelft_logo_white.svg">
			<p class="left tagline">#TrendHacking</p>
		</div>
		<div class="col-m-2 col-l-2"></div>
	</div>

	<div class="spacing"></div>
	<div class="row center">
		<a class="button big" href="https://goo.gl/forms/MNBM5XaG6dX9Iqan2">Keep me up to date!</a>
	</div>
</header>

<main>
	<% include sections/about %>
	<% include sections/sponsors %>
	<% include sections/cases %>
	<% include sections/speakers %>
	<% include sections/workshops %>
	<% include sections/schedule %>
	<% include sections/faq %>
	<% include sections/crew %>
</main>

<footer>
	<div class="wrapper">
		<div class="row center">
			<a class="social facebook" href="https://www.facebook.com/hackdelft" target="_blank"></a>
			<a class="social twitter" href="https://twitter.com/hackdelft" target="_blank"></a>
			<a class="social email" href="mailto:hackathoncrew@ch.tudelft.nl" target="_blank"></a>
			<p>Copyright © 2016 by W.I.S.V. ‘Christiaan Huygens’. All rights reserved.</p>
			<p>Chamber of Commerce 40397077</p>
		</div>
	</div>
</footer>

<% include partials/foot %>