<!DOCTYPE html>
<html>
<head>
	<title>HackDelft - TrendHacking</title>
	<link href="/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
	<h1><%= title%></h1>


	<script src="/js/index.js"></script>
</body>
</html>