<% include partials/head %>

<div class="row">
	<div class="side">
		<img src="/images/hackdelft_logo_white.svg">
		
		<div class="spacing"></div>

		<div class="row timer-container" id="hackTimer">
			<p>Hacking <span class="next-state"></span> in</p>
			<div class="timer"></div>
		</div>

		<div class="row timer-container" id="eventTimer">
			<p class="event"></p>
			<div class="timer"></div>
		</div>
	</div>

	<div class="side light">
		<a
			class="twitter-timeline"
			data-chrome="noheader nofooter noborders"
			data-link-color="#f26c0d"
			href="https://twitter.com/hackdelft"></a>
	</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<% include partials/foot %>