<section id="about">
	<div class="wrapper">
		<h1>What is HackDelft?</h1>
		<p>This year, the Study Association W.I.S.V. 'Christiaan Huygens' is organizing the first ever hackathon @ the TU Delft.</p>
	</div>
</section>