<section class="wrapper" id="about">
	<div class="row">
		<h2 class="col-12">The crew</h2>
		<div class="col-4"></div>
		<div class="col-4"></div>
		<div class="col-4"></div>
		<div class="col-4"></div>
		<div class="col-4"></div>
		<div class="col-4"></div>
	</div>
</section>