<section class="wrapper" id="faq">
	<div class="row">
		<h2 class="col-12">FAQ</h2>
	</div>

	<div class="row">
		<div class="question col-6 col-s-12">
			<h3>Who can participate in this hackathon?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>What is a hackathon?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>What should I bring?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>What if I have more questions?</h3>
			<p>Send us a message at the facebook or email us at <a href="mailto:hackathoncrew@ch.tudelft.nl">hackathoncrew@ch.tudelft.nl</a></p>
		</div>
		<div class="question col-6 col-s-12">
			<h3>Do you have a code of conduct?</h3>
			<p>Just be nice to each other! If you want to read the boring stuff: <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH code of conduct</a></p>
		</div>
	</div>
</section>