$primary_color: #fff;
$background-color: #050047;
$accent_color: #f26c0d;

$header_font: 'Bodoni MT', 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', serif;
$main_font: 'Roboto', sans-serif;