@import 'constants';
@import 'normalize';
@import 'layout';

body {
	font-family: $main_font;
	color: $primary_color;
	background-color: $background_color;

	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header_font;
}

a {
	display: inline-block;
	text-decoration: none;
	color: $accent_color;
}

p {
	line-height: 1.5;

	a {
		color: currentColor;
		text-decoration: underline;
	}
}

.button {
	padding: .5em;

	border: .2rem solid;
	border-radius: .25rem;
}

.big {
	font-size: 1.5em;
}

.accent {
	background-color: $accent_color;
	color: $background_color;
}

section {
	padding: 4em;
	color: $background_color;
}

@import 'components/index';